/* ------sahil------ */
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
:root {
    --purple: rgba(132, 15, 175, 1);
    --black: rgba(20, 20, 20, 1);
    --black-light: rgba(96, 96, 96, 1);
    --white: rgba(255, 255, 255, 1);
    --grey: rgba(131, 131, 131, 1);
    --light-purple: #F4D7FF;

}
.color-grey {
    color: var(--grey);
}

.form-bg {
    background-color: rgba(243, 243, 243, 1);
}

.focus-none:focus {
    border: none;
    outline: none;
}

.color-purple {
    color: var(--purple);
}

.color-white {
    color: var(--white);
}

.card-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.no-wrap{
    text-wrap: nowrap;
}
.feature-hero{
    max-width: 700px;
}
.search-btn{
    padding: 20px 25px;
    background-color: var(--purple);
    color: white;
    border-radius: 30px 0px 0px 30px;
}
.search-imput{
    padding: 20px 25px;
    background-color: transparent;
}
.fa-star {
    color: rgba(132, 15, 175, 1);
}

.fa-circle {
    color: rgba(202, 202, 202, 1);
}

.dark-black {
    color: var(--black);
}

.light-black {
    color: var(--black-light);
}

.treat-img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.treat2-img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perv {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-500%, -50%);
    font-size: 90px;

}

.next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(500%, -50%);
    font-size: 90px;

}

.treat-text {
    font-size: 85px;
}

.news-bg {
    background-image: url(/imgs/newsletterimg.svg);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.minhght {
    min-height: 200px;

}

.mail-input-bg::placeholder {
    color: var(--white);
}

.citea-footer {
    border-bottom: 5px solid var(--purple);
}

.border-right {
    border-right: 1px solid rgba(202, 202, 202, 1);
}

.icon-border {
    border-right: 1px solid rgba(64, 52, 34, 1);
    padding: 5px;
}

.top-border {
    border-top: 1px solid rgba(202, 202, 202, 1);
}

.icon-bg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-border {
    border: 1px solid var(--white);
    width: 400px;
    border-radius: 30px;
}

.mail-input-bg {
    background-color: inherit;
}

.fa-angle-right {
    color: rgba(190, 143, 69, 1);
}

.form-bg {
    background-color: rgba(243, 243, 243, 1);
}

.form-professtion:focus,
.form-profession:focus {
    box-shadow: none;
    background-color: rgba(243, 243, 243, 1);
}

.form-shadow {
    box-shadow: 0px 0px 10px 0px rgba(132, 15, 175, 0.2);
    border-radius: 30px;
}

.professtion-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(244, 215, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.professtion {
    border: 1px solid transparent;
}

.professtion:hover {
    border: 1px solid black;
}

.footer-img {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------Template------------- */
.logo-img {
    max-width: 150px;
    margin: 0px auto;
}
.main{
    display: flex;
    justify-content: space-between;
    height: 100dvh;
    padding: 20px;
}
.left {
    width: 250px;
    height: calc(100dvh - 40px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.white-bg{
    background-color: var(--white);
}
.left-top {
    width: 100%;
    height: 90px;
}

.left-mid {
    height: calc(100dvh - 220px);
    width: 100%;
}
.text-grey{
    color:#838383;
}
.main-left {
    height: 100%;
    overflow-y: auto;
}
.panel-icon {
    width: 25px;
    height: 25px;
}

.menu ul li {
    margin: 0px 5px 5px 5px;
}

.left-bottom {
    height: 90px;
    width: 100%;
}

.menu ul li.active {
    background-color: rgba(244, 215, 255, 1);
    border-radius: 20px;
    color: var(--purple);
}
.menu ul li.active a p {
    color: var(--purple);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--purple);
}
.right{
    width: calc(100% - 270px);
    height: calc(100dvh - 40px);
}
.right-top{
    height: 90px;
    width: 100%;
}
.right-top-inner {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.right-bottom{
    width: 100%;
    height: calc(100dvh - 130px);
}
.right-inner{
    overflow-y: auto;
    height: 100%;
    padding: 10px 5px;
    margin: 10px 0;
}
.search-input-bg{
    background-color:inherit;
}
.search-icon-bg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--purple);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-border {
    border: none;
    background-color:rgba(248, 249, 250, 1);
    width: 300px;
    border-radius: 20px;
}
.template-icon{
    width: 40px;
    height: 40px;
    background: rgba(244, 215, 255, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proflie-size{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch-size{
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-bars{
    font-size: 25px;
    color: var(--purple);
}
.drop-bg {
    background-color: var(--purple) !important;
    color: var(--white) !important;
    outline: none;
}

.drop-bg:hover, 
.drop-bg:focus, 
.drop-bg:active {
    background-color: var(--purple) !important;
    color: var(--white) !important;
    outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
/* ------------user------------------- */
.table {
    border-collapse: separate;
    border-spacing: 0px 0px;

}
.user-table  thead tr th{
    background-color: var(--light-purple);
    color: var(--purple);
}
.user-table thead tr th, .user-table tbody tr td {
    padding: 20px 10px;
    font-size: 15px;
    text-align: center;

}
th:first-child{
    border-top-left-radius: 10px;
}
th:last-child{
    border-top-right-radius: 10px;
}
.table-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.table-shadow td {
    border: none;
    background-color: #FEF9FF;
}
.table-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #840FAF1A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-icon2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2BC8041A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-icon3{
    width: 40px;
    height: 40px;
    background-color: #840FAF1A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.modal-del{
    background-color: #AC0606;
    color: var(--white) !important;
    border: none !important;
}
.modal-del:hover, .modal-del:active{
    background-color: #AC0606 !important;
    color: var(--white) !important;
    border: none !important;
}
.modal-cancel{
    background-color: var(--purple) !important;
    color: var(--white) !important;
    border: 0px !important;
}
.modal-cancel:hover, .modal-cancel:focus{
    background-color: var(--purple) !important;
    color: var(--white) !important;
    border: 0px !important;
}
.modal-call{
    border: 1px solid var(--purple) !important;
    background-color: transparent;
    color: var(--purple) !important;
}
.modal-call:hover, .modal-call:focus{
    border: 1px solid var(--purple) !important;
    background-color: transparent;
    color: var(--purple) !important;
}
.no-resize {
    resize: none;
}
.citeamodal-size{
    max-width: 800px;
}
.table-content td {
    text-align: center;
    vertical-align: middle; 
}
.subcription-btn{
    padding: 8px 10px;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 7px;
}
.modal-close {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black !important;
    color: white !important;
    position: relative;
}
.modal-close:hover, .modal-close:focus{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black !important;
    color: white !important;
    position: relative;
}
.modal-close::before {
    content: "×";
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-table .table tbody tr td{
    background-color: #FEF9FF !important;
    border-top: 10px solid var(--white);
    border-bottom: 10px solid var(--white);

}

.main-table .table tbody tr td:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 10px solid var(--white);
}

.main-table .table tbody tr td:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 10px solid var(--white);
}
.main-table .table tbody tr{
    border: 3px solid red !important;
    padding: 14px
}

.main-table .table{
    border-collapse: separate;
    border-spacing: 0px 0px;
    background-color: #fff !important;
}
.pagination .page-item.active .page-link {
    background-color: var(--light-purple);
    color: var(--purple);
    border-color: var(--light-purple);
}
.pagination .page-link {
    color: black;    
}
.pagination .page-link:hover {
    color: black;
}
@media screen and (max-width:992px) {
    .treat-text {
        font-size: 65px;
    }

    .border-end {
        border-right: none !important;
    }
}
@media screen and (max-width:768px) {
    .main {
        position: relative;
    }
    .left {
        display: none; 
        position: absolute;
        z-index: 9999;
    }
    .right {
        width: 100% !important;
    }
    #perv,
    #next {
        display: none;
    }

    .treat-text {
        font-size: 40px;
    }
}
@media (max-width: 767.98px) {
    .profile-section {
        order: -1;
    }
    .template-icon {
        order: 1;
    }
}

@media screen and (max-width:576px) {
    .news-border {
        border: 1px solid var(--white);
        width: 250px;
        border-radius: 30px;
    }

    .treat-text {
        font-size: 35px;
    }
}